In [1]:
import pandas as pd
from incf.countryutils import transformations

In [2]:
data = {'country': ['Brazil', 'Argentina', 'South Africa', 'Angola', 'Chile'],
        'year': [2012, 2012, 2013, 2014, 2014],
        'reports': [4, 24, 31, 2, 3],
        'coverage': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data)

In [3]:
df

        country  coverage  reports  year
0        Brazil        25        4  2012
1     Argentina        94       24  2012
2  South Africa        57       31  2013
3        Angola        62        2  2014
4         Chile        70        3  2014

In [4]:
df['continents'] = df['country'].apply(transformations.cn_to_ctn)

In [5]:
df

        country  coverage  reports  year     continents
0        Brazil        25        4  2012  South America
1     Argentina        94       24  2012  South America
2  South Africa        57       31  2013         Africa
3        Angola        62        2  2014         Africa
4         Chile        70        3  2014  South America